
<h1>Dein Voucher wartet auf dich!</h1>

<p>Hey,</p>

<p>hier kannst du deinen Vouchercode abrufen: <a href="https://vouchermixer.space.bi/get/<%- offer.collectionpermit %>">https://vouchermixer.space.bi/get/<%- offer.collectionpermit %></a></p>

<p>Aber Achtung! Du hast nur 6 Stunden (bis <%- timeoutdtstr %>) Zeit den Voucher abzurufen. Ansonsten geht er an jemand anderen und du wirst wieder hinten eingereiht.</p>

<p>Falls du den Voucher doch nicht brauchst, kannst du Ihn hier zurückgeben: <a href="https://vouchermixer.space.bi/get/<%- offer.collectionpermit %>/reject">https://vouchermixer.space.bi/get/<%- offer.collectionpermit %>/reject</a></p>
